<li class="post_item fp">
  <a class=post_card href={{ .Permalink }} title={{ .Title }} style="background-image: url({{ .Permalink }}{{ .Params.image }});">
  </a>
  <div class=excerpt>
    <div class=excerpt_meta>
    {{- with .Params.tags -}}
      {{- range . }}
      {{- $tag := urlize . }}
      {{- $url := absURL (printf "tags/%s" $tag) }}
      <a href={{ $url }} class=post_tag>
        {{- . }}
      </a>
      {{- end }}
    {{- end }}
    {{- partial "copy" . }}
    </div>
    <p class="post_date" style="text-align: right;">
      {{ .Date.Format "January 2, 2006" }}
    </p>
    <h3 class=post_link>
      <a href={{ .Permalink }}>{{ .Title  }}</a>
    </h3>
    <p class=pale>
      {{ if .Params.description }}
        {{ .Params.description }}
      {{ else }}
        {{ truncate 90 .Summary }}
      {{ end }}
    </p>
  </div>
</li>
